@font-face {
    font-family: 'lovelo';
    src: url(../../Lovelo-Black.ttf);
    font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 800px;

}

.title {
    width: 450px;
    display: flex;
    font-size: 50px;
    font-family: 'lovelo';
    font-weight: bold;
    transform: rotate(-90deg);
    gap: 40px;
}

.title span{
    margin: 10px;
}