@import url('https://fonts.cdnfonts.com/css/garet');

@font-face {
    font-family: 'lovelo';
    src: url(../../assets/Lovelo-Black.ttf);
    font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background: #537b96f1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 546px;
    width: 1040px;

}

.refer{
    transform: rotate(-90deg);
    width: 76px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
    
}

.container {
    width: 1040px;
    height: 100vh;
    display: flex;
    display: flex;
    align-items: center;
    height: 542px;
   
}

.title {
    width: 450px;
    display: flex;
    font-size: 50px;
    font-family: 'lovelo';
    font-weight: 600;
    
    gap: 40px;
    color: #ffff;
    font-size: 60px;
}

.title span{
    margin: 10px;
}

.calendario {
    width: 960px;
    
}

table{
    width: 1040px;
    border-collapse: separate;
    border-spacing: 5px 5px;
    
}

th {
    width: 200px;
    height: 40px;
    border: 2px solid #ffffff00;
    background: #ffffff;
    font-size: 18px;
    font-family: 'Garet', sans-serif;
    color: #737373;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2px;
    
}


td {
    background-color: white;
    height: 78px;
    padding: 8px;
    vertical-align: top;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Garet', sans-serif;
    color: #737373;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

td:hover{
    border-top: 3px solid #ff0000;
    transition: transform 0.5s ease-out;
    background-color: rgb(219, 219, 219);
}

  

#mes{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 25px;
    border: 2px solid #000;
    margin-left: 4px;
    width: 147px;
    cursor: pointer;


  }
  
  option{
    color: black;
    
  }

  .destacado{
    color: #1f05b1; 
    font-weight: bold; 
    border-top: 3px solid #1f05b1;
    
}


@keyframes modalAtivando {
    from {
          background: #00000000;
      }
    30% {
          background: #000000e5;
      }
    85% {
          background: #000000e5;
      }
    to {
          background: #00000000;
      }
    }



#modal {
    background: linear-gradient(306deg, rgb(16, 2, 37) 0%, rgb(44, 12, 87) 35%, rgb(61, 51, 204) 100%);
    position: absolute;
    top: 10;
    bottom: 10;
    display: flex;
    justify-content: center;
    transition: 500ms;
    width: 600px;
    border-radius: 30px;
    z-index: 1000;
}


#modal.addScroll {
    overflow: auto;
}

#modal .content {
    margin: 32px 0;
    color: white;
    font-family: 'lovelo';
    font-weight: 600;
}

#modal .content h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 30px;
}

#modal form {
    width: 80%;
    max-width: 800px;

    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#appt{
    width: 100%;
    height: 43px;
    font-family: 'lovelo';
}

#appt1{
    width: 100%;
    height: 43px;
    font-family: 'lovelo';
}

#modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de transparência */
    z-index: 999; /* Garante que o overlay esteja acima de outros elementos */
    display: none; /* Inicia oculto */
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
    grid-column: span 2;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgba(39, 143, 70, 0.5);
    outline: none;
    font-size: 16px;

    box-sizing: border-box;
}

form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;

}

form a {
    background-color: #ffffff44;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 40px;

    align-self: end;

    border-radius: 6px;

    font-size: 14px;
    font-weight: bold;

    transition: 500ms;
}

form a:hover {
    background: white;
    color: #5A4FBE;

    text-decoration: none;
}

form button {
    background: white;

    width: 150px;
    height: 40px;

    border-radius: 6px;
    cursor: pointer;

    margin-top: 32px;

    grid-column: 2;
    justify-self: end;
}

form button:hover {
    background-color: #ffffff44;
    color: white;

    text-decoration: none;
}

#modal.hide {
    opacity: 0;
    visibility: hidden;
}

button {
    font-family: 'lovelo';
    border: none;
    color: #1400ca;
    background: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.2px;

    transition: 500ms;
}

button:hover {
    text-decoration: underline;
}

a {
    font-weight: 600;
    color: #5A4FBE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.lembrete-roxo {
    color: #6a0dad; /* Cor roxa */
    font-weight: 600;
    font-family: 'Garet', sans-serif;
    text-transform: uppercase;
}